/*-- scss:defaults --*/

main p{
  text-align: justify !important;
  text-indent: 1rem;
}

main h1, main li, main blockquote {
  text-indent: 0;
}

main li {
  text-align: left;
}

main a {
  text-decoration: none;
}

main ul li p, main ol li p, .no-indent p{
  text-indent: 0;
}

ul, ol {
  margin-left: 1rem;
}

#title-block-header.quarto-title-block.default .quarto-title h1.title {
  margin-bottom: 1rem;
}